    * {
        font-family: 'Lato', sans-serif;
        /* overflow-x: hidden; */
    }
    
    #banner {
        /* background-image: url('images/Rectangle\ 86.png');
    background-repeat: no-repeat;
    background-size: 100% 100%; */
        width: 100%;
    }
    
    #banner img {
        width: 100%;
        position: relative;
    }
    
    #banner-text-div {
        position: absolute;
        width: 100%;
        /* margin-left: 20%; */
        top: 20%;
        /* background-color: red; */
        text-align: center;
    }
    
    #banner-text-div-p1 {
        /* font-size: 64px; */
        font-size: 3.3333333333333335vw;
        color: #F79521;
        font-weight: 700;
        /* background-image: linear-gradient(); */
        text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.50);
    }
    
    #banner-text-div-p2 {
        font-size: 3.3333333333333335vw;
        color: #FFFFFF;
        font-weight: 700;
        margin-top: -1%;
        text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.50);
    }
    
    #overview {
        width: 100%;
    }
    
    #hr1 {
        width: 33%;
        color: #F79521;
        border: 4px solid #F79521;
        margin-left: 3%;
        margin-top: 3%;
    }
    
    #overview-heading {
        /* border: 3px solid red; */
        width: 90%;
        font-size: 70px;
        margin-left: 5%;
        font-weight: 700;
        margin-top: 1%;
        color: #182F41;
        text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
    }
    
    #key-highlights {
        display: inline-flex;
        width: 95%;
        /* border: 3px solid yellow; */
        margin-left: 3%;
        margin-top: 3%;
    }
    
    #key-highlights-div1 {
        width: 70%;
    }
    
    .sub-heading {
        /* border: 3px solid black; */
        width: 80%;
        font-size: 33px;
        font-weight: 700;
        color: #182F41;
        text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
        margin-left: 2%;
    }
    
    #key-highlights-list {
        width: 89%;
        /* border: 3px solid black; */
    }
    
    #key-highlights-list ul {
        /* border: 2px solid purple; */
        margin-top: 3%;
    }
    
    #key-highlights-list li {
        font-size: 22px;
        font-weight: 400;
        color: #182F41;
        line-height: 50px;
        list-style-type: none;
    }
    #program-for-text{
        margin-left: 3%;
    }
    .bullet-circle {
        height: 0.7vh;
        width: 0.7vh;
        background-color: #F79521;
        border-radius: 50%;
        border: 2px solid#182F41;
        margin-top: 20px;
        margin-right: 10px;
        padding: 2px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    
    .key-highlights-list-li {
        display: inline-flex;
    }
    
    #key-highlights-div2 {
        /* width: 30%; */
        width: 393px;
        height: 367px;
        border: 2px solid #182F41;
        margin-right: 3%;
        box-shadow: 0px 4px 4px #2848B8;
        margin-top: 1%;
    }
    
    #key-highlights-div2-content {
        font-size: 28px;
        line-height: 34px;
        margin-top: 7%;
        font-weight: 300;
        font-style: italic;
        padding: 5%;
        color: #000000;
    }
    
    #program-for {
        width: 95%;
        /* border: 3px solid yellow; */
        margin-left: 3%;
        margin-top: 3%;
    }
    
    #program-for-points {
        margin-left: 1%;
    }
    
    #program-for-points li {
        list-style-type: none;
    }
    
    #program-for-li1 {
        display: inline-flex;
    }
    
    #program-for-li2 {
        display: inline-flex;
    }
    #program-for-li3 {
        display: inline-flex;
    }
    #program-for-li4 {
        display: inline-flex;
    }
    
    .mechanical-bba {
        font-size: 20px;
        font-weight: 400;
        color: #182F41;
        line-height: 50px;
    }
    
    #learning {
        width: 96%;
        /* height: 400px; */
        background-color: #F79521;
        padding: 2%;
        margin-top: 2%;
    }
    
    #learning-div1 {
        width: 70%;
        margin-left: 3%;
    }
    
    #learning-div1 p {
        font-size: 48px;
        font-weight: 700;
        color: #182F41;
        text-shadow: 0px 4px 4px #EFEFEF;
    }
    .learning-points-div {
        margin-left: 4%;
    }
    
    #learning-points {
        width: 100%;
        /* border: 2px solid red; */
        margin-top: 3%;
        display:flex;
    }
    
    #learning-points ul {
        list-style-type: none;
    }
    
    .learning-points-div-p {
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 400;
    }
    
    .dot {
        display: inline-block;
    }
    
    @media(max-width:1173px) {
        #banner-text-div {
            top: 7%;
        }
        #banner-text-div-p1 {
            font-size: 50px;
        }
        #banner-text-div-p2 {
            font-size: 50px;
        }
        .learning-points-li {
            display: flex;
            flex-direction: row;
        }
        #key-highlights-div2 {
            height: 385px;
        }
    }
    
    @media(max-width:840px) {
        #banner-text-div {
            top: 7%;
        }
        #banner-text-div-p1 {
            font-size: 45px;
        }
        #banner-text-div-p2 {
            font-size: 45px;
        }
    }
    
    @media(max-width:769px) {
        #banner-text-div {
            top: 4%;
        }
        #banner-text-div-p1 {
            font-size: 35px;
        }
        #banner-text-div-p2 {
            font-size: 35px;
        }
        #overview-heading {
            font-size: 37px;
        }
        #key-highlights {
            display: inline-block;
            width: 95%;
            /* border: 3px solid yellow; */
        }
        #key-highlights-div1 {
            width: 100%;
        }
        #key-highlights-div2 {
            margin-left: 20%;
            margin-top: 10%;
        }
        #learning-div1 {
            width: 80%;
            text-align: center;
        }
    }
    
    @media(max-width:556px) {
        #banner-text-div {
            top: 2%;
            /* background-color: red; */
        }
        #banner-text-div-p2 {
            top: 2px;
        }
        #hr1 {
            margin-left: 30%;
            width: 40%;
        }
        #overview-heading {
            font-size: 50px;
            width: 97%;
            text-align: center;
        }
        #key-highlights-div2 {
            margin-left: 10%;
            margin-top: 10%;
        }
        #key-highlights-list {
            margin-top: 6%;
            width: 100%;
            /* border: 2px solid red; */
        }
        .key-highlights {
            margin-top: 5%;
        }
        #key-highlights-list li {
            line-height: 30px;
        }
    }
    
    @media(max-width:554px) {
        #banner-text-div {
            position: relative;
            background-color: #182F41;
            border-radius: 40px;
            width: 90%;
            margin-left: 5%;
        }
        #banner-text-div-p1 {
            font-size: 20px;
        }
        #banner-text-div-p2 {
            font-size: 25px;
        }
    }
    
    @media(max-width:450px) {
        .bullet-padding {
            padding: 0px 10px 0px 10px;
        }
        #overview-heading {
            font-size: 38px;
        }
        .sub-heading {
            font-size: 28px;
        }
        #key-highlights-list {
            /* border: 2px solid green; */
            margin-left: -4%;
        }
        .key-highlights-list-li {
            /* border: 2px solid black; */
            margin-left: 0%;
        }
        #key-highlights-list li {
            font-size: 19px;
            width: 100%;
            /* border: 2px solid red; */
            padding-left: 0px;
            margin-left: 0%;
        }
        #key-highlights-div2 {
            margin-left: 0%;
            margin-top: 10%;
            width: 90%;
        }
        #learning-div1 p {
            font-size: 35px;
        }
        #key-highlights-div2-content {
            font-size: 25px;
        }
        .mechanical-bba {
            font-size: 19px;
        }
        .dot p {
            font-size: 19px;
        }
    }
    
    #footer {
        margin: 0px;
        padding: 0px;
        background-color: #182F41;
        text-align: center;
        /* border: 3px solid green; */
        overflow: hidden;
    }
    
    #logo {
        display: none;
    }
    
    #footer-top-div-container {
        width: 78%;
        margin-left: 5%;
        margin-right: 10%;
        display: inline-flex;
        padding-top: 3rem;
        /* border: 3px solid blue; */
    }
    
    .footer-top-div1 {
        width: 33%;
        text-align: center;
        color: #F79521;
        font-weight: 700;
        font-size: 30px;
        /* font-family: ; */
        /* border: 3px solid white; */
    }
    
    .hr {
        width: 80%;
        margin-left: 8%;
        color: #FFFFFF;
        border: 1px solid #FFFFFF;
        margin-top: 0.5cm;
    }
    
    #footer-mid-div-container {
        width: 75%;
        /* margin-left: %; */
        margin-top: 1cm;
        text-align: center;
        /* border: 3px solid blue; */
        display: inline-flex;
        margin-left: -4%;
    }
    
    #footer-mid-img {
        width: 30%;
        margin-left: 1%;
        margin-top: 2.5cm;
        /* border: 3px solid red; */
    }
    
    #footer-mid-img img {
        width: 79%;
        margin-left: -90px;
        /* border: 3px solid green; */
    }
    
    #footer-mid-div2 {
        width: 20%;
        margin-left: 9%;
        /* border: 3px solid green; */
    }
    
    #footer-mid-div2 h2 {
        color: #FFFFFF;
        font-size: 30px;
        font-weight: 400;
        /* border: 3px solid red; */
        margin-top: 0%;
    }
    
    #footer-mid-div2 ul {
        /* border: 3px solid yellow; */
        list-style-type: none;
        margin-top: 1.2cm;
        font-size: 25px;
        text-align: left;
        color: #FFFFFF;
        margin-left: 23%;
        padding: 0px;
    }
    
    #footer-mid-div2 li {
        margin-top: 0.7cm;
        /* border: 2px solid red; */
    }
    
    #footer-mid-div3 {
        width: 30%;
        margin-left: 10%;
        /* border: 3px solid green; */
    }
    
    #footer-mid-div3 h2 {
        color: #FFFFFF;
        font-size: 30px;
        margin-left: -80px;
        font-weight: 400;
        /* border: 3px solid green; */
        margin-top: 0%;
    }
    
    #footer-mid-div3 ul {
        list-style-type: none;
        /* border: 3px solid yellow; */
        margin-top: 1.2cm;
        font-size: 25px;
        text-align: left;
        color: #FFFFFF;
        margin-left: 23%;
        padding-left: 0%;
        font-weight: 400;
    }
    
    #footer-mid-div3-li1 {
        /* margin-top: 0%; */
        display: inline-flex;
    }
    
    #footer-mid-div3-li2 {
        margin-top: 0.9cm;
        display: inline-flex;
    }
    
    #footer-mid-div3-li3 {
        margin-top: 0.9cm;
        display: inline-flex;
    }
    
    .f-m-d3-d {
        margin-left: 1rem;
        /* border: 3px solid red; */
    }
    
    #copyright {
        font-size: 15px;
        font-weight: 400;
        color: #FFFFFF;
    }
    
    #copyright2 {
        display: none;
    }
    
    #footer--bottom-div-container {
        width: 78%;
        margin-top: 1cm;
        margin-left: -6%;
        display: inline-flex;
        /* border: 3px solid red; */
    }
    
    #social-links {
        display: inline-flex;
        margin-left: 61.4%;
        /* border: 3px solid red; */
    }
    
    #social-links a {
        margin-left: 12px;
    }
    
    #footer-btm-img2 {
        margin-top: -5px;
    }
    
    #footer-btm-img4 {
        margin-top: 1px;
    }
    
    #footer-btm-img5 {
        margin-left: 10px;
    }
    
    @media(max-width:1024px) {
        #footer-top-div-container {
            width: 90%;
            margin-left: 40px;
        }
        #footer-mid-img img {
            margin-top: 60px;
            width: 200px;
        }
        #footer-mid-div3 h2 {
            margin-right: -100px;
        }
        #footer--bottom-div-container {
            width: 90%;
            /* border: 2px solid red; */
        }
        #copyright {
            /* border: 2px solid red; */
            width: 70%;
            margin-left: 6%;
        }
        #social-links {
            margin-left: 40%;
        }
        #social-links a {
            margin-left: 24px;
        }
    }
    
    @media(max-width:786px) {
        #footer-top-div-container {
            width: 100%;
            margin-left: 0px;
        }
        .footer-top-div1 {
            font-size: 27px;
        }
        #footer-mid-div-container {
            width: 100%;
        }
        #footer-mid-img img {
            margin-top: 55px;
            width: 200px;
            margin-left: 30px;
        }
        #footer-mid-div3 h2 {
            margin-right: -50px;
        }
        #footer-mid-div2 h2 {
            margin-left: 20%;
        }
        #footer-mid-div2 {
            margin-left: 4%;
        }
        #footer-mid-div3 ul {
            position: relative;
            /* border: 3px solid red; */
            margin-left: 9%;
        }
        #footer--bottom-div-container {
            width: 90%;
        }
        #copyright {
            /* border: 2px solid red; */
            width: 500px;
            margin-left: -6%;
        }
        #social-links {
            margin-left: 90px;
        }
    }
    
    @media(max-width:700px) {
        .footer-top-div1 {
            font-size: 20px;
        }
        #footer-mid-div2 h2 {
            font-size: 20px;
        }
        #footer-mid-div3 h2 {
            font-size: 20px;
        }
        #footer-mid-div2 ul {
            font-size: 15px;
        }
        #footer-mid-div3 ul {
            font-size: 15px;
        }
        #footer-mid-img {
            margin-top: 1.5cm;
        }
        #footer--bottom-div-container {
            /* border: 2px solid red; */
            margin-left: 10px;
        }
        #copyright {
            margin-left: 0px;
            width: 50%;
            /* border: 2px solid green; */
        }
        #social-links a {
            margin-left: 5px;
        }
    }
    
    @media(max-width:604px) {
        #footer-mid-img img {
            margin-left: 0px;
            width: 100%;
        }
    }
    
    @media(max-width:420px) {
        #logo {
            display: flex;
            height: 52px;
            width: 181px;
            text-align: center;
            margin-left: 25%;
        }
        #footer-top-div-container {
            display: inline-block;
            margin-top: -25px;
        }
        .footer-top-div1 {
            margin-left: 35px;
            font-size: 25px;
            font-weight: 700;
            margin-top: 15px;
        }
        .hr {
            width: 70%;
            margin-left: 15%;
        }
        #footer-mid-div-container {
            display: inline-block;
            /* border: 3px solid red; */
            margin-top: 25px;
        }
        #footer-mid-img {
            display: none;
        }
        #footer-mid-div2 h2 {
            /* border: 3px solid green; */
            font-size: 25px;
            margin-left: 30%;
            width: 100%;
        }
        #footer-mid-div2 ul {
            margin-left: 47.5px;
            margin-top: 10px;
            width: 100px;
        }
        #footer-mid-div2 li {
            font-size: 20px;
            margin-top: 10px;
        }
        #footer-mid-div3 h2 {
            font-size: 25px;
            margin-left: 1%;
            width: 100%;
            margin-top: 20px;
        }
        #footer-mid-div3 ul {
            width: 250px;
            margin-top: 25px;
        }
        #footer-mid-div3 li {
            font-size: 20px;
            margin-top: 12px;
        }
        #footer-mid-div3-img2 {
            margin-top: -12px;
        }
        #footer--bottom-div-container {
            display: inline-block;
            text-align: center;
            width: 90%;
            /* border: 2px solid green; */
            margin-left: 0px;
            margin-top: 0.7cm;
        }
        #social-links {
            margin-left: -30px;
        }
        #social-links a {
            margin-left: 10px;
        }
        #copyright {
            display: none;
        }
        #copyright2 {
            display: block;
            font-weight: 400;
            font-size: 15px;
            color: #FFFFFF;
            padding: 10px;
        }
    }
     /* Program Highlights  */
    
    #pro{
        /* align-items: center; */
        text-align: center;
        font-size: 36px;
        font-family: 'Lato', sans-serif;
    }
    #pics{
        display: flex;
        padding: 4px;
        /* height: 420px; */
        width: 98%;
        /* width: 336px; */
        /* background-color: #fff; */
        text-align: center;
        color:#182F41;
        overflow: hidden;
        /* border: solid 3px red; */
        margin-left: 15px;
    }
    .highlight{
        margin-left: 2%;
        /* padding: 2%; */
    }
    .high{
        font-family: 'Lato', sans-serif;
        font-size: 20px;
    }
    #div1{
        /* border: solid 3px rgb(0, 204, 255); */
        width: 29%;
        margin-left: 2%;
        /* height: 336px; */
        /* margin-left:1%; */
    }
    #div1 img{
        width: 100%;
    }
    #div2{
        /* border: solid 3px rgb(38, 0, 255); */
        width: 29%;
        margin-left: 3%;
    }
    #div2 img{
        width: 100%;
        height: 350px;
    }
    #div3{
        /* border: solid 3px rgb(58, 37, 37); */
        width: 29%;
        margin-left: 3%;
        /* margin-right: 3%; */  
    }
    #div3 img{
        width: 100%;
        /* height: 350px; */
    }
    
    #below{
        display: flex;
        /* text-align: center; */
        background-image: linear-gradient(#F79521, White);
        width: 100%;
        height: 10%;
        margin-top: 40px;
        /* margin: 80px 50px 80px 80px; */
    }
    .dwn{
        margin-top: 5%;
        margin-bottom: 5%;
        /* margin-left: 10%;  */
        /* margin-right: 8%;   */
        align-items: center;
    }
    
    #text{
        font-family: 'Lato', sans-serif;
        font-size: 22px;
        margin-left: 8%;
        /* position: absolute; */
        /* margin-right: 100px; */
        /* margin-right: 25%; */
        /* border: solid 2px red; */
    }
    #text p{
        margin-right: 20%;
    }
    #btn1{
        /* z-index: 1; */
        margin-right: 5%;
        /* margin-left: 70%; */
        /* border: solid 2px blue ; */
    }
    #btn{
        /* display: block; */
        border:solid 2px black;
        font-size: 16px;
        border-radius: 30px;
        padding: 15px 20px;
        /* margin-left: 5%; */
        /* margin-right: 30%; */
        /* background-color: rosybrown; */
    
    }
    @media (max-width:1024px){
        #div1 img{
            height: 350px;
        }
        #div2 img{
            height: 350px;
        }
        #div3 img{
            height: 350px;
        }
        .dwn{
            margin-right: 6%;
        }
    }
    @media screen and (max-width:768px) {
        #pics{
            width: 98%;
            /* border: solid 2px red; */
            margin-left: 10px;
        }    
    }
    @media (max-width:441px) {
        #pro{
            font-size: 22px;
        }
        #pro img{
            width: 70%;
        }
        #pics{
            /* display: inline; */
            display: inline-block;
            align-items: center;
            overflow: hidden;
        }
        #div1{
            width: 90%;
            margin-top: 10px;
        }
        #div2{
            width: 90%;
            margin-top: 25px;
        }
        #div3{
            width: 90%;
            margin-top: 25px;
        }
        #below{
            display: inline-block;
            width: 100%;
        }
        #text{
            text-align: center;
            margin-left: 15%;
        }
        #btn{
            /* align-items: center; */
            text-align: center;
            margin-left: 18%;
            margin-top: 15px;
        }
    }
    @media only screen and (max-width: 2000px) and (min-width: 1025px)   {
    
        #div2 img{
            height: 86%;
        }
    }
    @media only screen and (max-width: 2442px) and (min-width: 2001px){
        #div2 img{
            height: 93%;
        }
    }
    /* Expertise  */
    
    
    #experties {
        width: 100%;
        display: inline-flex;
        /* border: 3px solid red; */
        /* margin-top: 5%; */
    }
    
    #experties-div1 h1 {
        font-size: 48px;
        font-weight: 700;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.29);
        margin-left: 5%;
        margin-top: 20%;
    }
    
    #experties-div1 {
        width: 20%;
        margin-left: 10%;
    }
    
    #experties-imgdiv {
        width: 100%;
    }
    
    #experties-imgdiv img {
        width: 60%;
        margin-left: 40%;
        margin-top: 20%;
    }
    
    #experties-div2 {
        width: 15%;
        /* height: 500px; */
        margin-left: 15%;
        margin-top: 8%;
        /* border: 3px solid red; */
    }
    
    #experties-div3 {
        width: 20%;
        /* border: 3px solid red; */
        margin-left: 10%;
    }
    
    .experties-div2-p-container {
        width: 117px;
        height: 117px;
        border-radius: 50%;
        background-color: #BDBBBE;
        text-align: center;
        background: linear-gradient(90deg, #BDBBBE 0%, #9D9EA3 100%);
        /* margin-top: 30%; */
    }
    
    .experties-div2-p-container p {
        padding-top: 35%;
        font-size: 25px;
        font-weight: 700;
        color: #000000;
        /* border: 3px solid green; */
    }
    
    #experties-div2-div2 {
        float: right;
        margin-top: 20%;
        /* border: 2px solid red; */
        /* margin-left: 70%; */
    }
    
    #experties-div2-div3 {
        margin-top: 80%;
        /* margin-left: 0%; */
    }
    
    #Student-review-heading {
        width: 80%;
        margin-left: 10%;
        margin-top: 5%;
        font-size: 48px;
        font-weight: 700;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
        background: #182F41;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        /* border: 2px solid red; */
    }
    
    #review-divs {
        display: inline-flex;
        width: 100%;
        /* border: 2px solid green; */
        text-align: center;
        margin-top: 2%;
        margin-bottom: 50px;
    }
    
    #review-divs-div1 {
        width: 35%;
        margin-left: 10%;
        border-radius: 10px;
        border: 1px solid #000000;
        padding: 40px;
        background: linear-gradient(180deg, #182F41 0%, rgba(24, 47, 65, 0) 100%);
    }
    
    #review-divs-div2 {
        width: 35%;
        margin-left: 10%;
        margin-right: 10%;
        border: 1px solid #000000;
        border-radius: 10px;
        padding: 40px;
        background: linear-gradient(180deg, #182F41 0%, rgba(24, 47, 65, 0) 100%);
    }
    
    .review-divs-div1-div1 {
        width: 90%;
        margin-left: 10%;
        display: inline-flex;
        /* border: 3px solid black; */
    }
    
    .review-divs-div1-div1 h4 {
        font-size: 20px;
        margin-left: 0px;
    }
    
    .review-divs-div1-div1 h4 {
        font-size: 15px;
        color: #FFFFFF;
        /* border: 1px solid orange; */
        font-weight: 700;
    }
    
    .review-divs-div1-div1 p {
        font-size: 15px;
        width: 100%;
        font-weight: 400;
        color: #FFFFFF;
        margin-top: -5%;
        /* border: 1px solid blue; */
    }
    
    .review-divs-div1-div2 {
        width: 70%;
        margin-left: 10%;
        text-align: left;
        margin-top: 4%;
        color: #FFFFFF;
        font-weight: 400;
        /* border: 2px solid yellow; */
    }
    
    .reviewer {
        width: 70%;
        text-align: left;
        margin-left: 8%;
    }
    
    @media(max-width:1400px) {
        #experties-div1 {
            width: 20%;
            /* border: 3px solid red; */
            margin-left: 10%;
        }
        #experties-imgdiv img {
            width: 100%;
            margin-left: 0%;
        }
        #experties-div2 {
            width: 20%;
            /* border: 3px solid red; */
            margin-left: 10%;
            margin-top: 8%;
        }
        #experties-div3 {
            width: 20%;
            margin-left: 10%;
            /* border: 3px solid red; */
        }
        #experties-div3 img {
            width: 100%;
            margin-top: 20%;
        }
    }
    
    @media(max-width:1000px) {
        #experties-div1 {
            width: 25%;
            margin-left: 5%;
        }
        #experties-div2 {
            width: 25%;
            margin-left: 5%;
        }
        #experties-div2-div2 {
            margin-top: 15%;
        }
        #experties-div3 {
            width: 25%;
            margin-left: 5%;
        }
        #Student-review-heading {
            margin-top: 10%;
        }
        #review-divs {
            display: inline-block;
        }
        #review-divs-div1 {
            width: 70%;
            margin-top: 5%;
        }
        #review-divs-div2 {
            width: 70%;
            margin-top: 10%;
        }
    }
    
    @media(max-width:690px) {
        .experties-div2-p-container {
            width: 80px;
            height: 80px;
        }
        .experties-div2-p-container p {
            font-size: 18px;
        }
        #experties-div2 {
            margin-top: 20%;
        }
    }
    
    @media(max-width:550px) {
        #experties-div1 {
            width: 30%;
        }
        #experties-div2 {
            width: 30%;
            margin-left: 20%;
        }
        #experties-div3 {
            display: none;
        }
    }
    
    @media(max-width:437px) {
        #experties-div1 {
            width: 40%;
        }
        #experties-div2 {
            width: 50%;
            margin-left: 10%;
            margin-top: 40%;
        }
        #review-divs-div1 {
            margin-left: 5%;
        }
        #review-divs-div2 {
            margin-left: 5%;
        }
    }