                                        * {
                                            margin: 0px;
                                            padding: 0px;
                                        }
                                        
                                        li {
                                            margin: 2.5rem;
                                            font-family: 'Lato', sans-serif;
                                            font-weight: 700;
                                            line-height: 28.8px;
                                            font-size: 24px;
                                        }
                                        
                                        h2 {
                                            text-align: center;
                                            font-family: 'Lato', sans-serif;
                                            font-weight: 700;
                                            font-size: 50px;
                                        }
                                        
                                        .navbar {
                                            padding: -0.5rem 0rem;
                                        }
                                        
                                        .navbar-light .navbar-nav .nav-link.disabled {
                                            color: black;
                                            font-family: 'Lato', sans-serif;
                                            font-weight: 700;
                                            line-height: 28.8px;
                                            font-size: 24px;
                                        }
                                        
                                        .navbar-light .navbar-nav .nav-link.disabled:hover {
                                            color: #F79521;
                                        }
                                        
                                        .btn:not(:disabled) {
                                            cursor: pointer;
                                            background-color: #103040;
                                            color: #F79521;
                                            padding: 1rem 2rem;
                                            border-radius: 40px;
                                        }
                                        
                                        .btn:not(:disabled):hover {
                                            background-color: #97846d;
                                            color: aliceblue;
                                        }
                                        /*---------- Carasoul silder --------- */
                                        
                                        .container-fluid {
                                            background-color: rgba(187, 187, 185, 0.911);
                                            height: 7rem;
                                            padding: 21px 3px;
                                            margin-top: -40px;
                                            opacity: 70%;
                                            justify-content: space-around;
                                            display: flex;
                                        }
                                        
                                        .img-responsive {
                                            height: 35px;
                                            ;
                                            width: auto;
                                            /* margin-top: -7px; */
                                        }
                                        
                                        .trans {
                                            text-align: center;
                                            line-height: 5px;
                                        }
                                        
                                        .trans h5 {
                                            /* font-size: 22px; */
                                            text-align: center;
                                        }
                                        
                                        .trans h4 {
                                            text-align: center;
                                            font-size: 22px;
                                        }
                                        
                                        @media screen and (max-width: 480px) {
                                            .trans h5 {
                                                font-size: 10px;
                                                text-align: center;
                                                line-height: 5px;
                                            }
                                            .trans h4 {
                                                text-align: center;
                                                font-size: 15px;
                                            }
                                            .img-responsive {
                                                height: 20px;
                                                ;
                                                width: auto;
                                            }
                                            .trans {
                                                text-align: center;
                                                padding: 5px 0px;
                                            }
                                            .container-fluid {
                                                height: 5.3rem;
                                            }
                                        }
                                        
                                        @media screen and (min-width: 480px) {
                                            .trans h5 {
                                                font-size: 15px;
                                                text-align: center;
                                            }
                                            .trans h4 {
                                                text-align: center;
                                                font-size: 17px;
                                            }
                                        }
                                        /* ===========ABOUT SECTION+++++++++++ */
                                        
                                        .aboutus-image {
                                            margin-top: 2rem;
                                            width: 635px;
                                            height: 406px;
                                        }
                                        
                                        @media only screen and (min-width: 992px) and (max-width: 1200px) {
                                            .aboutus-image {
                                                margin-right: 35px;
                                                width: 450px;
                                            }
                                        }
                                        
                                        @media only screen and (min-width: 768px) and (max-width: 991px) {
                                            .aboutus-image {
                                                margin-bottom: 30px;
                                                width: 280px;
                                                height: 305px;
                                                display: block;
                                            }
                                        }
                                        
                                        @media only screen and (max-width: 767px) {
                                            .aboutus-image {
                                                margin-bottom: 3rem;
                                                margin-right: 0;
                                                float: none;
                                                width: auto;
                                            }
                                            .hidden-sm {
                                                display: block!important;
                                                width: 340px;
                                                height: 85%;
                                            }
                                        }
                                        
                                        .aboutus-image img {
                                            height: 100%;
                                            width: 100%;
                                        }
                                        
                                        .aboutus-content h2 {
                                            font-size: 40px;
                                            font-weight: 700;
                                            line-height: 40px;
                                            margin-bottom: 3rem;
                                            margin-top: 3rem;
                                        }
                                        
                                        @media only screen and (max-width: 479px) {
                                            .aboutus-content h2 {
                                                font-size: 30px;
                                                line-height: 30px;
                                            }
                                        }
                                        
                                        .aboutus-content h2 {
                                            color: coral;
                                            font-family: 'Lato', sans-serif;
                                        }
                                        
                                        .aboutus-content h4 {
                                            font-size: 18px;
                                            font-weight: 500;
                                            color: #9b9b9b;
                                            margin-bottom: 23px;
                                        }
                                        
                                        .aboutus-content p {
                                            font-size: 16px;
                                            line-height: 27px;
                                            font-family: 'Lato', sans-serif;
                                            font-weight: 700;
                                            font-style: normal;
                                            overflow-x: hidden;
                                        }
                                        /*----------- Our course------- */
                                        
                                        .container h2 {
                                            margin-bottom: 2rem;
                                        }
                                        
                                        @media (min-width: 1200px) {
                                            .container {
                                                max-width: 80%;
                                                margin-top: 15rem;
                                            }
                                        }
                                        
                                        @media (min-width: 992px) {
                                            .container {
                                                max-width: 960px;
                                                margin-top: 15rem;
                                            }
                                        }
                                        
                                        @media (min-width: 768px) {
                                            .container {
                                                max-width: 720px;
                                                margin-top: 15rem;
                                            }
                                        }
                                        /* -----Timer ------ */
                                        
                                        .timer {
                                            display: flex;
                                            margin-top: 5rem;
                                            align-items: center;
                                            background: linear-gradient(180deg, #F79521 0%, rgba(247, 149, 33, 0.57) 68.02%, rgba(247, 149, 33, 0) 100%);
                                        }
                                        
                                        .timer .time-img {
                                            margin-top: 1rem;
                                            float: left;
                                        }
                                        
                                        .timer .text h6 {
                                            color: white;
                                            margin: 2rem;
                                            font-size: 2rem;
                                        }
                                        
                                        .timer .text p {
                                            margin-top: -2rem;
                                            margin-left: -6rem;
                                            font-size: 2rem;
                                            font-family: Lato;
                                            font-style: normal;
                                            font-weight: bold;
                                            font-size: 19px;
                                            line-height: 13px;
                                            text-align: center;
                                        }
                                        
                                        .countdown p {
                                            text-shadow: 0px 5px 12px;
                                            font-size: 25px;
                                            font-weight: bold;
                                        }
                                        
                                        .learn-more {
                                            border: 3px solid black;
                                            border-radius: 30px;
                                            background-color: #F79521;
                                            margin: 1rem 4rem;
                                            padding: 0rem 3rem;
                                        }
                                        
                                        @media only screen and (min-width: 992px) and (max-width: 1200px) {
                                            .timer .time-img img {
                                                width: 70%
                                            }
                                            .learn-more {
                                                padding: 0rem 1.5rem;
                                            }
                                        }
                                        
                                        @media only screen and (max-width:850px) {
                                            .timer .time-img img {
                                                width: 70%
                                            }
                                        }
                                        
                                        @media only screen and (min-width:360px) and (max-width:600px) {
                                            .timer .time-img img {
                                                display: none;
                                            }
                                            .learn-more {
                                                margin: 0rem -17rem;
                                                margin-top: 16rem;
                                            }
                                            .timer .text p {
                                                line-height: 28px;
                                                margin-left: 0rem;
                                            }
                                        }
                                        /*--------- OUR SERVICES----------------------------------------------------------------- */
                                        
                                        .row {
                                            margin-right: 0px;
                                        }
                                        
                                        .wrap {
                                            margin-top: 5rem;
                                            display: flex;
                                            background: white;
                                            padding: 1rem 1rem 1rem 1rem;
                                            border-radius: 0.5rem;
                                            box-shadow: 7px 7px 30px -5px rgba(0, 0, 0, 0.1);
                                            margin-bottom: 2rem;
                                        }
                                        
                                        .wrap:hover {
                                            background: linear-gradient(135deg, #6394ff 0%, #0a193b 100%);
                                            color: white;
                                        }
                                        
                                        @media (min-width: 1200px) {
                                            .container {
                                                max-width: 80%;
                                            }
                                        }
                                        
                                        .ico-wrap {
                                            margin-top: -2rem;
                                        }
                                        
                                        .mbr-iconfont {
                                            font-size: 4.5rem !important;
                                            color: #313131;
                                            margin: 1rem;
                                            padding-right: 1rem;
                                        }
                                        
                                        .vcenter {
                                            margin: auto;
                                        }
                                        
                                        .mbr-section-title3 {
                                            text-align: left;
                                        }
                                        
                                        h2 {
                                            margin-top: 0.5rem;
                                            margin-bottom: 0.5rem;
                                        }
                                        
                                        .display-5 {
                                            font-family: 'Source Sans Pro', sans-serif;
                                            font-size: 1.4rem;
                                        }
                                        
                                        .mbr-bold {
                                            font-weight: 700;
                                        }
                                        
                                        p {
                                            padding-top: 0.5rem;
                                            padding-bottom: 0.5rem;
                                            line-height: 25px;
                                        }
                                        
                                        .display-6 {
                                            font-family: 'Source Sans Pro', sans-serif;
                                            font-size: 1rem;
                                        }
                                        /* ------------- OUR SERVICES END------------------------------------------------------- */
                                        /* =--------------  Student Testonomial-------------- */
                                        
                                        #testimonials {
                                            background: #304352;
                                            background: -webkit-linear-gradient(to right, #d7d2cc, #304352);
                                            background: linear-gradient(to right, #d7d2cc, #304352);
                                            background-size: cover;
                                            height: 50%;
                                            overflow: hidden;
                                            margin: 5px 50px 5px;
                                        }
                                        
                                        #customer-testimonial {
                                            padding: 40px 0;
                                        }
                                        
                                        .testimonial img {
                                            max-width: 159px;
                                            height: 159px;
                                            margin: 0 auto 0 auto;
                                            border: 2px solid white;
                                            padding: 5px;
                                            margin-bottom: 13px;
                                            border-radius: 90px;
                                        }
                                        
                                        .testimonial blockquote {
                                            border: 0;
                                            font-family: tahoma;
                                            font-size: 15px;
                                            ;
                                            color: #182f41;
                                            padding: 5px 150px;
                                            position: relative;
                                            font-weight: bold;
                                        }
                                        
                                        .testimonial blockquote::before,
                                        .testimonial blockquote::after {
                                            font-size: 80px;
                                            font-size: normal;
                                            line-height: 1;
                                            width: 30px;
                                            height: 30px;
                                            position: absolute;
                                        }
                                        
                                        .testimonial blockquote ::before {
                                            content: "\201C";
                                            top: 0;
                                            left: 100px;
                                        }
                                        
                                        .testimonial blockquote ::after {
                                            content: "\201D";
                                            bottom: 0;
                                            right: 100px;
                                        }
                                        
                                        .testimonial-author p {
                                            color: white;
                                            font-size: 17px;
                                        }
                                        
                                        .testimonial-author p strong {
                                            display: block;
                                        }
                                        
                                        @media (min-width: 1200px) {
                                            #review {
                                                margin-top: 2rem;
                                            }
                                        }
                                        
                                        #revie {
                                            margin-top: 5px;
                                            color: rgb(26, 24, 24);
                                            font-family: cursive;
                                            text-shadow: 2px 2px 2px black, 2px 3px 25px #182f41, 1px 2px 5px grey;
                                        }
                                        
                                        @media screen and (max-width:1150px) and (min-width:550px) {
                                            .testimonial img {
                                                max-width: 90px;
                                                height: 90px;
                                                margin: 0 auto 0 auto;
                                                border: 2px solid white;
                                                padding: 5px;
                                                margin-bottom: 13px;
                                                border-radius: 90px;
                                            }
                                            .testimonial blockquote {
                                                border: 0;
                                                font-family: tahoma;
                                                font-size: 12px;
                                                ;
                                                color: #182f41;
                                                padding: 5px 120px;
                                                position: relative;
                                            }
                                            .testimonial-author p {
                                                color: white;
                                                font-size: 14px;
                                            }
                                        }
                                        
                                        @media screen and (max-width:550px) and (min-width:275px) {
                                            .testimonial img {
                                                max-width: 50px;
                                                height: 50px;
                                                margin: 0 auto 0 auto;
                                                border: 2px solid white;
                                                padding: 5px;
                                                margin-bottom: 13px;
                                                border-radius: 90px;
                                            }
                                            .testimonial blockquote {
                                                border: 0;
                                                font-family: tahoma;
                                                font-size: 8px;
                                                ;
                                                color: #182f41;
                                                padding: 3px 50px;
                                                position: relative;
                                            }
                                            .testimonial-author p {
                                                color: white;
                                                font-size: 11px;
                                            }
                                        }
                                        /*--------  Collabration----------  */
                                        
                                        #collab {
                                            text-align: center;
                                            /* background-color: blue; */
                                        }
                                        
                                        #collab-heading {
                                            text-align: center;
                                            margin-top: 5%;
                                        }
                                        
                                        #collab-heading p {
                                            font-size: 36px;
                                            font-weight: 400px;
                                            text-shadow: 8px 10px 6px rgba(0, 0, 0, 0.25);
                                        }
                                        
                                        #institution {
                                            text-align: center;
                                            margin-top: 3%;
                                        }
                                        
                                        #institution p {
                                            font-size: 32px;
                                            font-weight: 700;
                                            text-shadow: 0px 4px 4px #191847;
                                        }
                                        
                                        #institution-label {
                                            color: #E87613;
                                        }
                                        
                                        #colleges {
                                            display: inline-flex;
                                            width: 100%;
                                            margin-top: 9%;
                                            /* text-align: center; */
                                            /* margin-left: 5%; */
                                            /* border: 2px solid red; */
                                        }
                                        
                                        .college-divs {
                                            margin-left: 4%;
                                            width: 20%;
                                        }
                                        
                                        .college-divs img {
                                            width: 70%;
                                        }
                                        
                                        #myCarousel {
                                            margin: 50px auto;
                                            padding: 0 70px;
                                        }
                                        
                                        .carousel .thumb-wrapper {
                                            padding: 25px 15px;
                                            background: rgb(237, 233, 233);
                                            border-radius: 12px;
                                            text-align: center;
                                            position: relative;
                                            box-shadow: 0 2px 3px rgba(16, 15, 15, 0.2);
                                        }
                                        
                                        .carousel .item .img-box {
                                            height: 120px;
                                            margin-bottom: 20px;
                                            width: 100%;
                                            position: relative;
                                        }
                                        
                                        .carousel .item img {
                                            max-width: 100%;
                                            max-height: 100%;
                                            display: inline-block;
                                            position: absolute;
                                            bottom: 0;
                                            margin: 0 auto;
                                            left: 0;
                                            right: 0;
                                        }
                                        
                                        .carousel .item h4 {
                                            font-size: 18px;
                                        }
                                        
                                        .carousel .item h4,
                                        .carousel .item p,
                                        .carousel .item ul {
                                            margin-bottom: 5px;
                                        }
                                        
                                        .carousel .thumb-content .btn:hover,
                                        .carousel .thumb-content .btn:focus {
                                            color: #fff;
                                            background: #7ac400;
                                            box-shadow: none;
                                        }
                                        
                                        .carousel .thumb-content .btn i {
                                            font-size: 14px;
                                            font-weight: bold;
                                            margin-left: 5px;
                                        }
                                        
                                        #prev,
                                        #next {
                                            height: 44px;
                                            width: 40px;
                                            background: #182f41;
                                            margin: inherit;
                                            border-radius: 7px;
                                            /* opacity: 0.8;*/
                                        }
                                        
                                        #prev:hover,
                                        #next:hover {
                                            background: #f79521;
                                            opacity: 1;
                                        }
                                        
                                        #prev i,
                                        #next i {
                                            font-size: 36px;
                                            position: absolute;
                                            top: 50%;
                                            display: inline-block;
                                            margin: -19px 0 0 0;
                                            z-index: 5;
                                            left: 0;
                                            right: 0;
                                            color: #fff;
                                            text-shadow: none;
                                            font-weight: bold;
                                        }
                                        
                                        #prev i {
                                            margin-left: -2px;
                                        }
                                        
                                        #next i {
                                            margin-right: -4px;
                                        }
                                        
                                        .carousel-indicators {
                                            bottom: -20px;
                                        }
                                        
                                        .carousel-indicators li,
                                        .carousel-indicators li.active {
                                            width: 10px;
                                            height: 10px;
                                            margin: 4px;
                                            border-radius: 50%;
                                            border: none;
                                        }
                                        
                                        .carousel-indicators li {
                                            background: rgba(0, 0, 0, 0.2);
                                        }
                                        
                                        .carousel-indicators li.active {
                                            background: rgba(0, 0, 0, 0.6);
                                        }
                                        
                                        .thumb-content h5 {
                                            color: #f79521;
                                            font-weight: bold;
                                        }
                                        
                                        .thumb-content h4 {
                                            color: #182f41;
                                            font-weight: bolder;
                                            font-size: 22px !important;
                                        }
                                        
                                        #update-div {
                                            width: 90%;
                                            margin: 5%;
                                            /* background-color: blue; */
                                            display: inline-flex;
                                        }
                                        
                                        .arrow-down {
                                            width: 10%;
                                        }
                                        
                                        #core-update {
                                            width: 80%;
                                            background-color: #EBEBEB;
                                            box-shadow: 0px 5px 4px 5px #182F41;
                                            margin: 5%;
                                        }
                                        
                                        #core-update-headline {
                                            margin-top: 3%;
                                        }
                                        
                                        #core-update-headline p {
                                            color: #E87613;
                                            text-shadow: 0px 4px 4px #191847;
                                            font-size: 45px;
                                            font-weight: 600;
                                        }
                                        
                                        #emailnsubscribe {
                                            width: 100%;
                                            /* border: 2px solid blue; */
                                            display: inline-flex;
                                            margin-top: 5%;
                                            margin-bottom: 4%;
                                        }
                                        
                                        #update-email {
                                            width: 37%;
                                            text-align: left;
                                            margin-left: 13%;
                                        }
                                        
                                        #update-email p {
                                            font-size: 25px;
                                            font-weight: 500;
                                            color: #E87613;
                                            text-shadow: 0px 2px 2px #191847;
                                        }
                                        
                                        #update-email input {
                                            width: 98%;
                                            height: 49px;
                                            font-size: 20px;
                                            padding-left: 2%;
                                            color: #182F41;
                                            margin-top: 3%;
                                            border: none;
                                            background-color: #BDBBBE;
                                            /* border: 2px solid blue; */
                                        }
                                        
                                        #update-subscribe {
                                            width: 50%;
                                            /* border: 2px solid blue; */
                                            text-align: left;
                                        }
                                        
                                        #update-subscribe button {
                                            width: 45%;
                                            height: 37px;
                                            background-color: #182F41;
                                            color: #EBEBEB;
                                            border-radius: 30px;
                                            font-size: 25px;
                                            font-weight: 400;
                                            margin-top: 8%;
                                            margin-left: 20%;
                                            border: none;
                                        }
                                        
                                        @media(max-width:800px) {
                                            #update-subscribe button {
                                                width: 50%;
                                            }
                                            #update-email input {
                                                font-size: 15px;
                                            }
                                        }
                                        
                                        @media(max-width:700px) {
                                            #institution {
                                                margin-top: 10%;
                                            }
                                            .college-divs img {
                                                width: 100%;
                                            }
                                            #update-div {
                                                margin-top: 10%;
                                            }
                                            #emailnsubscribe {
                                                display: inline-block;
                                            }
                                            #update-email {
                                                width: 100%;
                                                margin-left: 0%;
                                                text-align: center;
                                                margin-top: 5%;
                                            }
                                            #email-input {
                                                width: 70%;
                                                margin-left: 15%;
                                            }
                                            #update-subscribe {
                                                width: 100%;
                                                text-align: center;
                                            }
                                            #update-subscribe button {
                                                margin-left: 0%;
                                            }
                                        }
                                        
                                        @media(max-width:600px) {
                                            #institution p {
                                                font-size: 25px;
                                            }
                                            .arrow-down {
                                                display: none;
                                            }
                                            /* #institution p {
                                font-size: 35px;
                            } */
                                            #core-update {
                                                margin-left: 10%;
                                            }
                                            #core-update-headline p {
                                                font-size: 30px;
                                                text-shadow: 0px 2px 2px #191847;
                                            }
                                            #emailnsubscribe {
                                                margin-top: 20%;
                                            }
                                        }
                                        /* ------------  Collabraton End ----------------------- */